@-webkit-keyframes uic-pulsate-soft {
  0% {
    -webkit-transform: opacity 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: opacity 0.0;
  }
}

@-moz-keyframes uic-pulsate-soft {
  0% {
    -moz-transform: opacity 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -moz-transform: opacity  0.0;
  }
}
