.uic-segmented-progressbar {
  width: 100%;
}

.uic-bordered-segmented-progressbar {
  border-style: solid;
}

.uic-inactive-progressbar-segment {
  opacity: 0.25;
}

.uic-blinking-progressbar-segment {
  animation: uic-pulsate-soft 1s ease-out;
  -webkit-animation: uic-pulsate-soft 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: uic-pulsate-soft 1s ease-out;
  -moz-animation-iteration-count: infinite;
}

.uic-progressbar-segment {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
